@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="enter-area" id="password-recovery">

        <p class="confirmation-code-excepted">@Resources.Resource.EnterNewPassword</p>

        <div class="validation-error" id="validationErrorForPasswordRefresh">

            <span id="jsValidationForPasswordRefresh" style="display:none">@Resources.Resource.StandardErrorMessage</span>

            @if (ViewBag.ValidationErrorForPasswordRefresh != null)
            {
                string errorMessage = ViewBag.ValidationErrorForPasswordRefresh;

                switch (errorMessage)
                {
                    case "Были введены  некорректные данные, попробуйте снова!": @Resources.Resource.StandardErrorMessage break;

                    case "Категории должны различаться!": @Resources.Resource.CategoriesErrorMessage break;

                    case "Загружать фотографии разрешается только в jpeg формате!": @Resources.Resource.DownloadPhotoErrorMessage break;

                    case "Заказ не найден!": @Resources.Resource.NoIndentErrorMessage break;

                    case "Вы не оценили работу исполнителя!": @Resources.Resource.DontAppreciateExecutorsWorkErrorMessage break;

                    case "Вы не оценили действия заказчика!": @Resources.Resource.DontAppreciateCustomersWorkErrorMessage break;

                    default: @Resources.Resource.StandardErrorMessage break;
                }
            }
        </div>

        <div class="forget-password-form">
            @using (Html.BeginForm("SetNewPassword", "Customer", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <p><input type="password" name="password" id="password" placeholder="@Resources.Resource.Password" maxlength="20" required /></p>
                <p><input type="password" name="passwordCopy" id="passwordCopy" placeholder="@Resources.Resource.ConfirmNewPassword" maxlength="20" required /></p>

                <p><button type="submit" id="setNewPasswordSend">@Resources.Resource.Send</button></p>
            }
        </div>
    </div>
</div>

<script>
        $("#setNewPasswordSend").click(function (event) {

            var jsFieldForValidationError = document.getElementById('jsValidationForPasswordRefresh');

            var password = document.getElementById('password').value;
            var passwordCopy = document.getElementById('passwordCopy').value;

            if (password !== passwordCopy) {
                jsFieldForValidationError.style.display = "";
                event.preventDefault();
                return false;
            }

            jsFieldForValidationError.style.display = "none";
        });
</script>