<p class="confirmation-code-excepted">@Resources.Resource.EnterYourEmailAddress</p>

<div class="validation-error" id="validation-error-forget-password">

    <span id="jsValidationForForgetPassword" style="display:none">@Resources.Resource.StandardErrorMessage</span>

    @if (ViewBag.ValidationErrorForgetPasswordEmail != null)
    {
        string errorMessage = ViewBag.ValidationErrorForgetPasswordEmail;

        switch (errorMessage)
        {
            case "Были введены  некорректные данные, попробуйте снова!": @Resources.Resource.StandardErrorMessage break;

            case "Категории должны различаться!": @Resources.Resource.CategoriesErrorMessage break;

            case "Загружать фотографии разрешается только в jpeg формате!": @Resources.Resource.DownloadPhotoErrorMessage break;

            case "Заказ не найден!": @Resources.Resource.NoIndentErrorMessage break;

            case "Вы не оценили работу исполнителя!": @Resources.Resource.DontAppreciateExecutorsWorkErrorMessage break;

            case "Вы не оценили действия заказчика!": @Resources.Resource.DontAppreciateCustomersWorkErrorMessage break;

            default: @Resources.Resource.StandardErrorMessage break;
        }
    }
</div>

<!-- ANIMATION -->
<div id="fountainG-obertka-enter" style="display:none">
    <div id="fountainG">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
    </div>
</div>
<!---->

<div class="forget-password-form">
    @using (Ajax.BeginForm("ForgetPassword", "Executor", new AjaxOptions {
        UpdateTargetId = "password-recovery",
        OnBegin = "OnBegin",
        LoadingElementId = "fountainG-obertka-enter"},
        new { id = "clearForAnimationEmail" }))
    {

        @Html.AntiForgeryToken()

        <p><input type="text" name="email" id="password-recovery-email" placeholder="@Resources.Resource.Email" maxlength="40" required /></p>

        <p><button type="submit" id="forgetPasswordSend">@Resources.Resource.Send</button></p>
    }
</div>

<script>
function OnBegin() {
     var formArea = document.getElementById('clearForAnimationEmail');
     formArea.style.display = "none";
}
</script>