@model ElateService.Models.IndentPageViewModel

@{
    Layout = "~/Views/Shared/_IndentExecutorPageLayout.cshtml";
}

@using System.Linq
@using MvcPaging


@using (Html.BeginForm("ShowIndentsPerPage", "Indent", FormMethod.Get))
{
<div class="menu">
    <ul class="menu-items">
    @if (Model.AvailableCategories != null)
    {
            <li>
                <label>
                    <input type="checkbox" name="categories" value="@Resources.Resource.ConstructionWorks"
                           @if (Model.AvailableCategories.Any(c => c == Resources.Resource.ConstructionWorks))
                           { <text> checked="checked" </text> }>
                    <span class="pseudocheckbox">@Resources.Resource.ConstructionWorks</span>
                </label>
            </li>

            <li>
                <label>
                    <input type="checkbox" name="categories" value="@Resources.Resource.TransportationServices"
                          @if (Model.AvailableCategories.Any(c => c == Resources.Resource.TransportationServices))
                          { <text> checked="checked" </text>}>
                    <span class="pseudocheckbox">@Resources.Resource.TransportationServices</span>
                </label>
            </li>

            <li>
                <label>
                    <input type="checkbox" name="categories" value="@Resources.Resource.ComputerHelp"
                           @if (Model.AvailableCategories.Any(c => c == Resources.Resource.ComputerHelp))
                           { <text> checked="checked" </text> }>
                    <span class="pseudocheckbox">@Resources.Resource.ComputerHelp</span>
                </label>
            </li>

            <li>
                <label>
                    <input type="checkbox" name="categories" value="@Resources.Resource.HouseWorks"
                           @if (Model.AvailableCategories.Any(c => c == Resources.Resource.HouseWorks))
                           { <text> checked="checked" </text> }>
                    <span class="pseudocheckbox">@Resources.Resource.HouseWorks</span>
                </label>
            </li>

            <li>
                <label>
                    <input type="checkbox" name="categories" value="@Resources.Resource.Sport"
                           @if (Model.AvailableCategories.Any(c => c == Resources.Resource.Sport))
                           { <text> checked="checked" </text>  }>
                    <span class="pseudocheckbox">@Resources.Resource.Sport</span>
                </label>
            </li>

            <li>
                <label>
                    <input type="checkbox" name="categories" value="@Resources.Resource.Education"
                           @if (Model.AvailableCategories.Any(c => c == Resources.Resource.Education))
                           { <text> checked="checked" </text>   }>
                    <span class="pseudocheckbox">@Resources.Resource.Education</span>
                </label>
            </li>

            <li>
                <label>
                    <input type="checkbox" name="categories" value="@Resources.Resource.Tourism"
                           @if (Model.AvailableCategories.Any(c => c == Resources.Resource.Tourism))
                           { <text> checked="checked" </text>   }>
                    <span class="pseudocheckbox">@Resources.Resource.Tourism</span>
                </label>
            </li>
    }
    else
    {
        <li>
            <label>
                <input type="checkbox" name="categories" value="@Resources.Resource.ConstructionWorks" checked="checked">
                <span class="pseudocheckbox">@Resources.Resource.ConstructionWorks</span>
            </label>
        </li>

            <li>
                <label>
                    <input type="checkbox" name="categories" value="@Resources.Resource.TransportationServices" checked="checked">
                    <span class="pseudocheckbox">@Resources.Resource.TransportationServices</span>
                </label>
            </li>

            <li>
                <label>
                    <input type="checkbox" name="categories" value="@Resources.Resource.ComputerHelp" checked="checked">
                    <span class="pseudocheckbox">@Resources.Resource.ComputerHelp</span>
                </label>
            </li>

            <li>
                <label>
                    <input type="checkbox" name="categories" value="@Resources.Resource.HouseWorks" checked="checked">
                    <span class="pseudocheckbox">@Resources.Resource.HouseWorks</span>
                </label>
            </li>

            <li>
                <label>
                    <input type="checkbox" name="categories" value="@Resources.Resource.Sport" checked="checked">
                    <span class="pseudocheckbox">@Resources.Resource.Sport</span>
                </label>
            </li>

            <li>
                <label>
                    <input type="checkbox" name="categories" value="@Resources.Resource.Education" checked="checked">
                    <span class="pseudocheckbox">@Resources.Resource.Education</span>
                </label>
            </li>

            <li>
                <label>
                    <input type="checkbox" name="categories" value="@Resources.Resource.Tourism" checked="checked">
                    <span class="pseudocheckbox">@Resources.Resource.Tourism</span>
                </label>
            </li>
    }
        <li>
            <button type="submit" class="search-link">@Resources.Resource.Sort</button>
        </li>
    </ul>
</div>
}
<div class="content">
@using (Ajax.BeginForm("Search", "Indent", new AjaxOptions {
    OnBegin = "OnBegin",
    OnComplete = "OnComplete",
    UpdateTargetId = "enter-area",
    LoadingElementId = "fountainG-obertka",
    }, 
    new { @class = "search-up" }))
{
        <input type="text" name="searchString" placeholder="@Resources.Resource.SearchHere" required>
        <button type="submit"></button>
}
    <div class="container">

        <!-- ANIMATION --> 
    <div id="fountainG-obertka" style="display:none">           
        <div id="fountainG">
            <div id="fountainG_1" class="fountainG"></div>
            <div id="fountainG_2" class="fountainG"></div>
            <div id="fountainG_3" class="fountainG"></div>
            <div id="fountainG_4" class="fountainG"></div>
            <div id="fountainG_5" class="fountainG"></div>
            <div id="fountainG_6" class="fountainG"></div>
            <div id="fountainG_7" class="fountainG"></div>
            <div id="fountainG_8" class="fountainG"></div>
        </div>
    </div>
        <!---->

        <div class="enter-area" id="enter-area">
                @if (Model.IndentsOnPage.Count() > 0)
                {
                    foreach (var indent in Model.IndentsOnPage)
                    {
                        <div class="item">
                            @if (indent.ImgSrc != null)
                            {
                            <a href="@Url.Action("ShowIndent", "Indent", new { id = indent.IndentId })">
                                <img src="@Url.Content("~/Content/Indent/" + Path.GetFileName(indent.ImgSrc))" class = "main-item-photo">
                            </a>
                            }
                            else
                            {
                            <a href="@Url.Action("ShowIndent", "Indent", new { id = indent.IndentId })">
                                <img src="@Url.Content("~/Content/Images/order.jpeg")" class = "main-item-photo">
                            </a>
                            }
                            <div class="item-info">
                                @if (indent.Price != null && indent.Price != 0)
                                {
                                    <p class="price"> @indent.Price </p>
                                }
                                else
                                {
                                    <p class="price"> @Resources.Resource.ContractPrice </p>
                                }
                                <a href="@Url.Action("ShowIndent", "Indent", new { id = indent.IndentId })">
                                    <p class="item-title">
                                        @indent.Title
                                        @if (indent.Executor != null)
                                        {
                                            <i class="fa fa-check-square" style="color:green;"></i>
                                        }
                                    </p>
                                </a>
                                <p class="item-description">
                                    @indent.IndentDescription
                                </p>
                                <p class="icon-info"><i class="fa fa-map-marker"></i> @indent.City </p>
                                <p class="icon-info">
                                    <i class="fa fa-suitcase"></i>
                                    @switch (indent.Category)
                                    {
                                        case ElateService.Common.Category.ConstructionWorks: @Resources.Resource.ConstructionWorks break;

                                        case ElateService.Common.Category.TransportationServices: @Resources.Resource.TransportationServices break;

                                        case ElateService.Common.Category.ComputerHelp: @Resources.Resource.ComputerHelp break;

                                        case ElateService.Common.Category.HouseWorks: @Resources.Resource.HouseWorks break;

                                        case ElateService.Common.Category.Sport: @Resources.Resource.Sport break;

                                        case ElateService.Common.Category.Education: @Resources.Resource.Education break;

                                        case ElateService.Common.Category.Tourism: @Resources.Resource.Tourism break;
                                    }
                                </p>
                                <p class="icon-info"><i class="fa fa-calendar"></i> @Resources.Resource.Until @indent.IndentDate.ToString("dd/MM/yyyy") </p>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="negative-search-result">@Resources.Resource.NoIndentsWithSuchProperties</p>
                }
            <div class="pager">
                @Html.Pager(Model.PageSize, Model.Page, Model.NumberOfAllIndentsWithSomeCategory).Options(o => o
            .AddRouteValue("categories", Model.AvailableCategories)
            .HidePreviousAndNextPage())
            </div>
        </div>
    </div>
</div>

<script>
    function OnBegin() {
        var indentArea = document.getElementById('enter-area');
        indentArea.style.display = "none";
    }

    function OnComplete() {
        var indentArea = document.getElementById('enter-area');
        indentArea.style.display = "";
    }
</script>